#game{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #221d2e;
  width: fit-content;
  
}
.code-area{
  font-size: 1.2rem;
  font-family: monospace, serif;
  font-weight: 800;
  height: 1fr;
  width: 30ch;
  background-color: #3F3851;
  color: white;
}
#game-code{
  height: 99%;
  width: 100%;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  resize: none; 
  border: none;
  outline: none;
}