@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: monospace, sans-serif; }

.home {
  align-self: center; }

.game {
  align-self: center; }

.game {
  background-color: rgba(37, 40, 43, 0.95);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem; }
  .game__code-container {
    flex-grow: 1;
    font-size: 1.2rem;
    border-left: 1px solid #25282B;
    display: flex;
    flex-direction: column; }
  .game__code-heading {
    display: inline-block;
    width: 50%;
    color: white;
    text-align: center;
    background-color: #443c57;
    border: 1px solid #25282B;
    border-left: none;
    transition: 0.2s all;
    cursor: pointer;
    font-family: "Pixelify Sans", monospace; }
    .game__code-heading--selected {
      background-color: #4d4563; }
  .game__code-section, .game__code-section:active {
    font-size: 1.2rem;
    flex: 1;
    width: 100%;
    background-color: #332e42;
    resize: none;
    color: white;
    outline: none;
    border: none;
    padding: 0.2rem; }
  .game__container {
    width: 100%;
    display: flex;
    outline: 0.5rem solid #cecece55;
    outline-style: groove; }
  .game__canvas {
    width: 800px;
    height: 533px; }
  .game__control {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    cursor: pointer;
    color: white;
    font-family: "Pixelify Sans", monospace; }
    .game__control:first-child {
      background-color: #007600; }
      .game__control:first-child:hover {
        background-color: #006700; }
    .game__control:last-child {
      background-color: #db3b00; }
      .game__control:last-child:hover {
        background-color: #c23400; }
    .game__control .bi-gear {
      display: inline-block;
      transform: scale(1.05) translateY(1px); }
    .game__control .bi-play {
      display: inline-block;
      transform: scale(1.4) translateY(1px); }

.contacts {
  align-self: center; }

.form {
  background-color: rgba(37, 40, 43, 0.4);
  padding: 1rem 25%;
  color: white;
  display: flex;
  flex-direction: column; }
  .form__label {
    font-size: 1.6rem;
    margin-top: 0.5rem; }
  .form__field {
    font-size: 1.4rem;
    border-radius: 0.5rem;
    background-color: #25282B;
    color: white; }
  .form__textarea {
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: #25282B;
    color: white; }
  .form__submit {
    width: fit-content;
    padding: 0.5rem 1.2rem;
    margin-top: 1rem;
    align-self: flex-end; }

.hyperlinks {
  color: white;
  background-color: rgba(37, 40, 43, 0.4);
  margin-top: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.6rem; }
  .hyperlinks ul {
    list-style: none;
    text-decoration: none; }
  .hyperlinks a {
    text-decoration: none;
    color: white;
    transition: 0.3s all; }
    .hyperlinks a:hover {
      color: orangered; }
  .hyperlinks i {
    letter-spacing: 0.4rem; }

.header {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.2rem;
  font-family: "Pixelify Sans", monospace;
  background-color: rgba(37, 40, 43, 0.6);
  padding: 3rem 0 1rem 0;
  margin-bottom: 5rem;
  box-shadow: 0 0 2rem 2rem rgba(37, 40, 43, 0.6);
  user-select: none;
  -moz-user-select: none; }
  .header__link {
    color: orangered;
    transition: 0.2s;
    cursor: pointer; }
    .header__link:hover {
      color: #ff7500;
      margin-top: -0.4rem; }
    .header__link:first-child {
      transform: skew(-10deg); }
    .header__link:last-child {
      transform: skew(10deg); }
  .header__active-link {
    margin-top: -1rem;
    color: orange;
    cursor: pointer; }

.footer {
  height: 3rem;
  margin-top: 5rem;
  box-shadow: 0 0 2rem 2rem rgba(37, 40, 43, 0.6);
  background-color: rgba(37, 40, 43, 0.6); }

.page-container {
  background-color: #3F3851;
  background-image: linear-gradient(to right, rgba(63, 56, 81, 0.3), rgba(63, 56, 81, 0.3), rgba(63, 56, 81, 0.3)), url("./images/background.png");
  background-repeat: repeat-y;
  background-size: 90vw;
  background-position: center top;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.button__primary {
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  transition: 0.3s all;
  cursor: pointer;
  background-color: orangered; }
  .button__primary:hover {
    background-color: #d63a00; }

.button__dark {
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  transition: 0.3s all;
  cursor: pointer;
  background-color: #25282B; }
  .button__dark:hover {
    background-color: #383c41; }
